Source: gcs
Section: web
Priority: extra
Maintainer: Igor Partola <igor@transloc.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: gcs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-support
Description: Geographic Coordinate System types and functions
 Geographic Coordinate System types and functions developed by TransLoc Inc.
